.section1 {
   color: whitesmoke;
   background-image:  url(/images/homepage1-handground.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
   height: 100vh;
   padding: 0 20vw;

   h2 {
      font-size: 2.8rem;
      padding: 20vh 0;
      line-height: 1.25;
      letter-spacing: -.025em;

   }
   .items {
      display: flex;
      justify-content: space-between;
      .item {
         border-bottom: 1px solid whitesmoke;
         height: 40%;
         margin: 0 5px;
         width: 40%  ;
      }
      h3 {
         font-size: 14px;
         font-weight: 700;
      }
      p {
         font-size: 10px;
         
         padding-bottom: 10px;
         padding-top: 5px;
      }
      
   }
}