@font-face {
    font-family: 'GTAmericaConcensedBold';
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Bold.otf);
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Bold.otf) format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GTAmericaConcensedLightItalic';
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Light-Italic.otf);
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Light-Italic.otf) format('otf');
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: 'GTAmericaConcensedMedium';
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Medium.otf);
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Medium.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTAmericaConcensedRegular';
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Regular.otf);
    src: url(~assets/fonts/GT-America/GT-America-Condensed-Regular.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTAmericaExpandedBold';
    src: url(~assets/fonts/GT-America/GT-America-Expanded-Bold.otf);
    src: url(~assets/fonts/GT-America/GT-America-Expanded-Bold.otf) format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GTAmericaExpandedMedium';
    src: url(~assets/fonts/GT-America/GT-America-Expanded-Medium.otf);
    src: url(~assets/fonts/GT-America/GT-America-Expanded-Medium.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTNormsBold';
    src: url(~assets/fonts/TT-Norms/TTNorms-Bold.otf);
    src: url(~assets/fonts/TT-Norms/TTNorms-Bold.otf) format('otf');
    font-weight: bold;
    font-style: normal;
}

* {
    width: 100%;
}
